* {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

.banner {
  width: 100%;
  height: 200px;

  background-color: white;
  background-image: url("../images/logo_custom2.png");

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
}

.bg-sparta {
  background-color: #e8344e !important;
}

.btn-sparta {
  color: #ffffff !important;
  background-color: rgb(231, 191, 132) !important;
  border-color: rgb(231, 191, 132) !important;
}

.btn-outline-sparta {
  color: rgb(231, 191, 132) !important;
  background-color: #ffffff !important;
  border-color: rgb(231, 191, 132) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.wrap {
  background-color: rgb(243, 218, 180);
  min-height: 100vh;
  padding-bottom: 50px;
}
.box-wrap {
  background-color: rgb(243, 218, 180);
  width: 80%;
  max-width: 600px;
  margin: 10px auto;
}

.modal-header {
  border-bottom-color: #ffffff;
}

.modal-footer {
  border-top-color: #ffffff;
}

.alert {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  width: 100%;
}

@media screen and (min-width: 576px) {
  .alert {
    width: fit-content;
    max-width: 480px;
  }
}

.alert-sparta {
  color: rgb(243, 218, 180);
  background-color: #ffe7ff;
  border-color: #ffcde7;
}

.alert-sparta .alert-link {
  color: #360000;
}
